<div class = "agency">
  <ul>
    <div *ngFor="let agency of agencys">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{agency.agencyName}}</mat-card-title>
          <mat-card-subtitle>{{agency.address}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Телефон: {{agency.telephoneNumber}} </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary">Просмотр туров:</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </ul>
</div>
