<input type="text" [(ngModel)]="searchTerm" placeholder="Агенсво ">
<button mat-raised-button  (click)="searchAgency()">Найти</button>
<div class="view-toggle">
  <button mat-raised-button  (click)="viewType = 'table'">Таблица</button>
  <button mat-raised-button  (click)="viewType = 'cards'">Карточки</button>
</div>

<ng-container *ngIf="viewType === 'table'; else cardView">
  <table>
    <thead>
    <tr>
      <th>Название агенсва</th>
      <th>Адресс</th>
      <th>Номер телефона</th>


    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let agency of agencys">
      <td>{{ agency.agencyName }}</td>
      <td>{{ agency.address}}</td>
      <td>{{ agency.telephoneNumber}}</td>
      <td><button class="custom-button" mat-raised-button >Узнать большое</button></td>
    </tr>
    </tbody>
  </table>
</ng-container>
<ng-template #cardView>
  <div class="card-container">
    <div *ngFor="let agency of agencys">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{agency.agencyName}}</mat-card-title>
          <mat-card-subtitle>{{agency.address}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Телефон: {{agency.telephoneNumber}} </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary">Просмотр туров:</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</ng-template>
